<header id="content-header">
	<h1>
		Memberships for<br/>
		<%= link_to(@furcon.name, @furcon) %>
	</h1>
</header>

<ol id="memberships">
	<% @memberships.each do |membership| %>
		<li>
			<span class="user"><%= membership.name %></span>
			<%= link_to 'Edit Me', edit_furcon_membership_path(@furcon, membership), class: 'button' %>
			<%= link_to 'Delete Me', furcon_membership_path(@furcon, membership), class: 'button', method: :delete, data: { confirm: "Are you sure you want to delete <b>#{membership.name}</b>?" } %>
			<p>
				<span>
					<%= format_prereg_fee(membership) %><br/>
					<%= number_to_currency(membership.reg_fee) %> after PreRegistration Date
					<br/>
				</span>
				<%= membership.swag %>
			</p>
		</li>
	<% end %>
</ol>