<% content_for(:title, @furcon.name) %>

<article id="furcon" class="furcon">
	<header>
		<%= image_for(@furcon) %>
		<h1><%= @furcon.name %></h1>
	</header>
	<h2>Website:</h2>
	<p>
		<a href="<%= @furcon.website %>" target="_blank"><%= @furcon.website %></a>
	</p>
	<h3>Location:</h3>
	<p>
		<%= @furcon.location %>
	</p>
	<h3>Theme:</h3>
	<p>
		<%= @furcon.theme %>
	</p>
	<h3>Dates:</h3>
	<p>
		<%= @furcon.starts_on %> to <%= @furcon.ends_on %>
 	</p>
	<h3>Charities:</h3>
	<p>
		<%= format_charity(@furcon) %>
	</p>
	<h3>Guest of Honor:</h3>
	<p>
		<%= @furcon.guest_of_honor %>
	</p>
	<h3>PreRegistration Ends:</h3>
	<p>
		<%= @furcon.prereg_by %>
	</p>
	<p>
		<%= link_to pluralize(@furcon.memberships.size, "membership"), furcon_memberships_path(@furcon) %>
	</p>
	<footer>
		<nav>
		<% if current_user_admin? %>
			<p>
				<%= link_to "Add a Membership", new_furcon_membership_path(@furcon), class: 'button ok membership' %>
			</p>		
			<%= link_to 'Edit', edit_furcon_path(@furcon), class: 'button' %>
			<%= link_to 'Delete', @furcon, class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		</nav>
	</footer>
</article>