<aside id="sidebar">
	<nav>
		<ul>
			<li class="furcons">
				<%= nav_link_to 'All Furcons', filtered_furcons_path(:everything) %>
			</li>
			<li class="furcons">
				<%= nav_link_to 'Can still PreReg!', filtered_furcons_path(:upcoming_prereg) %>
			</li>
			<li class="furcons">
				<%= nav_link_to 'Upcoming', furcons_path %>
			</li>
			<li class="furcons">
				<%= nav_link_to 'Past', filtered_furcons_path(:past) %>
			</li>
			<li class="furcons">
				<%= nav_link_to 'Recent', filtered_furcons_path(:recent) %>
			</li>
		<% if current_user_admin? %>
			<li class="create-furcon">
				<%= nav_link_to 'Add New Furcon', new_furcon_path %>
			</li>
			<li class="edit-users">
				<%= nav_link_to 'Edit Users', users_path %>
			</li>
		<% end %>
		</ul>
	</nav>
</aside>